.container {
  display: flex;
  justify-content: center; /* This centers the flex items horizontally */
  align-items: center; /* This centers the flex items vertically */
}

.text-container {
  text-align: center; /* This centers the h1 and button */
  margin-right: 20px; /* Adds some space between the text and the image */
}

.doge {
  width: 100%; /* Take full width of its container */
  max-width: 600px;
  flex-shrink: 0; /* Prevents the image from shrinking */
}

.centered-button {
  display: inline-block;
  margin: 20px 0;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.centered-button:hover {
  background-color: #0056b3;
}
